@using EntityLayer.Concrete;
@model User;
@{
    ViewData["Title"] = "UserChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="row mt-2">

            <div class="col-md-4">
                <label>Eski Şifre</label>
                <input class="form-control" value="@Model.UserPassword" type="text" />
            </div>
            <div class="col-md-4">
                <label>Yeni Şifre</label>
                <input class="form-control" id="userPassword" />
            </div>
            <div class="col-md-4">
                <button class="btn btn-success mt-4" id="s">Kaydet</button>
            </div>
        </div>


    </div>
</div>
@section scripts{
<script type="text/javascript">
        $("#s").click(function (){
                let pass = {password : $("#userPassword").val()};
                $.ajax({
                type: "post",
                url: "/User/ChangePassword/",
                data: pass,
                success: function(func){
                      Swal.fire('Başarılı!','Şifre değiştirildi!','success')
                }
                })

        })
</script>
}

